/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top-wrapper{
  padding:180px 0 250px 0;
  background-image:url(top4.jpg);
  background-size:cover;
  color:white;
  text-align:center;
}
.container{
  width:1170px;
  margin:0 auto;
}

.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
  margin-bottom: 20px;
}
.top-wrapper h2{
  opacity:0.7;
  font-size:30px;
  letter-spacing:5px;
  margin-bottom: 30px;
}
.top-wrapper p{
  opacity:0.7;
  margin-bottom:20px;
}
.signup{
  background-color:#239b76;
  margin-top:15px;
  margin-bottom:15px;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
}
.btn:hover{
  opacity:1;
}
.fa{
  margin-right:5px;
}
header{
  height:65px;
  width:100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  z-index:10;
  top:0;
}
.logo{
  width:124px;
  margin-top:20px;
  font-size: 20px;
  color: white;
}
.header-left{
  float:left;
}
.head{
  color: white;
  float: right;
  background-color:rgba(255,255,255,0.3);
  transition:all 0.5s;
  line-height:65px;
  padding:0 25px;
  display:inline-block;
  margin-right: 20px;
}
.header-right:hover{
  background-color:rgba(255,255,255,0.5);
}
.header-right a{
  line-height:65px;
  padding:0 25px;
  color:white;
  display:block;
}
.head1:hover{
  background-color:rgba(255,255,255,0.5);
}
.head2:hover{
  background-color:rgba(255,255,255,0.5);
}
.head3:hover{
  background-color:rgba(255,255,255,0.5);
}
.head4:hover{
  background-color:rgba(255,255,255,0.5);
}
.lesson-wrapper {
  height: 580px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson{
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 105%;
  width: 100%;
  color: Black;

}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 45px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  padding-bottom: 100px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}
.contact-form {
  padding-top:100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  padding: 30px 0;
  border-top: 1px solid #eee;
  height:50px;
  background-color:rgba(100,100,100,0.9);
}
